= form_for(@link) do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :url
    = f.text_field :url, class: "form-control"
  .actions
    = link_to 'Back', root_path, class: "btn btn-default"
    = f.submit class: "btn btn-primary pull-right"
