.container
  %h1= @link.title
  %p= link_to @link.url, "#{@link.url}"
  -if @link.user == current_user
    = link_to 'Edit', edit_link_path(@link), class: "btn btn-default"
    = link_to 'Back', links_path, class: "btn btn-default"
  - else 
    = link_to like_link_path, method: :put, class: "btn btn-default btn-sm" do 
      %i.ion-arrow-up-b
      %span Upvote 
      %strong= @link.get_upvotes.size
    = link_to dislike_link_path, method: :put, class: "btn btn-default btn-sm" do 
      %i.ion-arrow-down-b
      %span Downvote 
      %strong= @link.get_downvotes.size

  %p #{@link.comments.count} comments

  .comment-section
    - @link.comments.each do |comment|
      %h5= comment.user.email
      %p= comment.body
      = link_to 'Delete',[@link, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm"

  .comment-form
    = simple_form_for [@link, Comment.new] do |f|
      = f.text_area :body, class: "form-control"
      = f.submit "Add Comment", class: "btn btn-primary"

    



  
