.container
  .row
    .col-md-6.col-md-offset-3
      .form-container 
        %h2 Log in
        %hr.page-hr

        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, class: "form-control"
          .form-group
            = f.label :password
            = f.password_field :password, autocomplete: "off", class: "form-control"

          .actions
            = render "devise/shared/links"
            = f.submit "Log in", class: "btn btn-primary pull-right"
